.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mic-container {
  position: relative;
  width: 100px;
  height: 100px;
}

.mic-button {
  font-size: 2.5rem;
  width: 100px;
  height: 100px;
  padding: 10px;
  border: 5px solid white; /* White ring */
  background-color: rgba(255, 255, 255, 0.5); /* Transparent background */
  
  color: white;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.mic-button:active {
  transform: translate(-50%, -50%) scale(0.9);
}

.wave {
  position: absolute;
  top: 41.8%;
  left: 45.6%;
  
  width: 100px;
  height: 100px;
  padding: 10px;
  border: 4px solid #ffffff;
  border-radius: 50%;
  opacity: 0.7;
  animation: waveAnimation 3s infinite;
}

.wave1 {
  animation-delay: 0s;
}

.wave2 {
  animation-delay: 1s;
}

.wave3 {
  animation-delay: 2s;
}

@keyframes waveAnimation {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.3;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.error {
  color: red;
  font-size: 18px;
  margin-top: 20px;
}

.results {
  margin-top: 20px;
  text-align: left;
  background: rgba(255, 255, 255, 0.2);
  padding: 15px;
  border-radius: 10px;
}

.results h2 {
  margin-bottom: 10px;
}

.results ul {
  list-style-type: none;
  padding: 0;
}

.results li {
  font-size: 18px;
  margin-bottom: 5px;
}
.gradient-background {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(200deg, #00c6ff, #0072ff, #00ff95, #00c6ff);
  background-size: 200% 200%;
  animation: gradientAnimation 20s ease infinite;
}

.title {
  color: white;
  font-size: 3rem;
  text-align: center;
}

.subtitle {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 10px;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.title-text {
  position: absolute;
  top: 20%;        /* Positions the text about 30% from the top */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 2.5rem;
  color: white;
  font-weight: bold;
  font-family: 'Roboto', sans-serif; /* Nice clean font */
}
.bottom-text {
  position: absolute;
  bottom: 20%;       /* Positions the text slightly above the bottom */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  opacity: 0.8;     /* Slight transparency for a subtle effect */
}